
// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  padding: 0;
  background-color: blackl;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}
th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.input_area {
  border-style: solid;
  border-width: 2px;
  border-color:  #000;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

.button {
  width: 150px;
  height: 20px;
  background-color: #4169E1;
  border: #000;
  text-align:center;
  color: #fff;
  margin: 10px;
}

.link_button1 {
  display: block;
  position: relative;
  text-decoration: none;
  margin-top: 150px;
  padding-top: 20px;
}
